<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.fbsir.business.potentialeye.mapper.ChatFileMapper">
    
    <resultMap type="ChatFile" id="ChatFileResult">
        <result property="fileId"    column="file_id"    />
        <result property="messageId"    column="message_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectChatFileVo">
        select file_id, message_id, file_name, file_path, file_url, create_time from chat_file
    </sql>

    <select id="selectChatFileList" parameterType="ChatFile" resultMap="ChatFileResult">
        <include refid="selectChatFileVo"/>
        <where>  
            <if test="messageId != null  and messageId != ''"> and message_id = #{messageId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and file_url = #{fileUrl}</if>
        </where>
    </select>
    
    <select id="selectChatFileByFileId" parameterType="Long" resultMap="ChatFileResult">
        <include refid="selectChatFileVo"/>
        where file_id = #{fileId}
    </select>

    <insert id="insertChatFile" parameterType="ChatFile" useGeneratedKeys="true" keyProperty="fileId">
        insert into chat_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">message_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">#{messageId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateChatFile" parameterType="ChatFile">
        update chat_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteChatFileByFileId" parameterType="Long">
        delete from chat_file where file_id = #{fileId}
    </delete>

    <delete id="deleteChatFileByFileIds" parameterType="String">
        delete from chat_file where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>