<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.fbsir.business.potentialeye.mapper.SysUserWxMapper">
    
    <resultMap type="com.wx.fbsir.business.potentialeye.domain.SysUserWx" id="SysUserWxResult">
        <result property="wxId"    column="wx_id"    />
        <result property="sessionId"    column="session_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectSysUserWxVo">
        select wx_id, session_id, user_id from sys_user_wx
    </sql>

    <select id="selectSysUserWxList" parameterType="com.wx.fbsir.business.potentialeye.domain.SysUserWx" resultMap="SysUserWxResult">
        <include refid="selectSysUserWxVo"/>
        <where>  
            <if test="wxId != null  and wxId != ''"> and wx_id = #{wxId}</if>
            <if test="sessionId != null  and sessionId != ''"> and session_id = #{sessionId}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectSysUserWxByWxId" parameterType="Long" resultMap="SysUserWxResult">
        <include refid="selectSysUserWxVo"/>
        where wx_id = #{wxId}
    </select>
    <select id="selectUserWxBySessionId" resultMap="SysUserWxResult">
        select * from sys_user_wx where session_id = #{sessionId}
    </select>

    <insert id="insertSysUserWx" parameterType="com.wx.fbsir.business.potentialeye.domain.SysUserWx" useGeneratedKeys="true" keyProperty="wxId">
        insert into sys_user_wx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sessionId != null">session_id,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sessionId != null">#{sessionId},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateSysUserWx" parameterType="com.wx.fbsir.business.potentialeye.domain.SysUserWx">
        update sys_user_wx
        <trim prefix="SET" suffixOverrides=",">
            <if test="sessionId != null">session_id = #{sessionId},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where wx_id = #{wxId}
    </update>

    <delete id="deleteSysUserWxByWxId" parameterType="Long">
        delete from sys_user_wx where wx_id = #{wxId}
    </delete>

    <delete id="deleteSysUserWxByWxIds" parameterType="String">
        delete from sys_user_wx where wx_id in
        <foreach item="wxId" collection="array" open="(" separator="," close=")">
            #{wxId}
        </foreach>
    </delete>
</mapper>