<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.selfapp.app.mapper.CallWordMapper">

    <resultMap type="com.cube.wechat.selfapp.app.domain.CallWord" id="CallWordResult">
        <result property="platformId" column="platform_id"/>
        <result property="wordContent" column="word_content"/>
        <result property="isCommon" column="is_common"/>
        <result property="userId" column="user_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="price" column="price"/>
        <result property="salesCount" column="sales_count"/>
        <result property="incomeTotal" column="income_total"/>
    </resultMap>

    <sql id="selectCallWordVo">
        select platform_id, word_content, is_common, user_id, update_time, status, price, sales_count, income_total from wc_call_word
    </sql>
    <delete id="deleteCallWordByPlatformIds" parameterType="String">
        delete from wc_call_word where platform_id in
        <foreach item="platformId" collection="array" open="(" separator="," close=")">
            #{platformId}
        </foreach>
    </delete>

    <select id="getCallWordById" parameterType="String" resultMap="CallWordResult">
        <include refid="selectCallWordVo"/>
        where platform_id = #{platformId}
    </select>

    <select id="getCallWordList" parameterType="com.cube.wechat.selfapp.app.domain.query.CallWordQuery" resultMap="CallWordResult">
        <include refid="selectCallWordVo"/>
        <where>
            <if test="wordContent != null  and wordContent != ''"> and word_content like concat('%', #{wordContent}, '%')</if>
        </where>
    </select>

    <insert id="insertCallWord" parameterType="com.cube.wechat.selfapp.app.domain.CallWord">
        insert into wc_call_word
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platformId != null and platformId != ''">platform_id,</if>
            <if test="wordContent != null and wordContent != ''">word_content,</if>
            <if test="isCommon != null">is_common,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="price != null">price,</if>
            <if test="salesCount != null">sales_count,</if>
            <if test="incomeTotal != null">income_total,</if>
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platformId != null and platformId != ''">#{platformId},</if>
            <if test="wordContent != null and wordContent != ''">#{wordContent},</if>
            <if test="isCommon != null">#{isCommon},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status != null">#{status},</if>
            <if test="price != null">#{price},</if>
            <if test="salesCount != null">#{salesCount},</if>
            <if test="incomeTotal != null">#{incomeTotal},</if>
            NOW(),
        </trim>
    </insert>

    <update id="updateCallWord" parameterType="com.cube.wechat.selfapp.app.domain.CallWord">
        update wc_call_word
        <trim prefix="SET" suffixOverrides=",">
            <if test="wordContent != null and wordContent != ''">word_content = #{wordContent},</if>
            <if test="isCommon != null">is_common = #{isCommon},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="price != null">price = #{price},</if>
            <if test="salesCount != null">sales_count = #{salesCount},</if>
            <if test="incomeTotal != null">income_total = #{incomeTotal},</if>
            update_time = NOW(),
        </trim>
        where platform_id = #{platformId}
    </update>

    <update id="updateDraftZhihuStatus">
        update wc_playwright_draft
        set is_push_zh = #{isPushed}
        where id = #{draftId}
    </update>

    <select id="selectByPlatformId" parameterType="String" resultMap="CallWordResult">
        <include refid="selectCallWordVo"/>
        where platform_id = #{platformId}
    </select>

    <update id="updateCallWordCommon">
        update wc_call_word
        set is_common = #{isCommon},
            update_time = NOW()
        where platform_id = #{platformId}
    </update>

</mapper>