<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.selfapp.app.mapper.IdeaTemplateMapper">

    <resultMap type="com.cube.wechat.selfapp.app.domain.IdeaTemplate" id="IdeaTemplateResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="prompt"    column="prompt"    />
        <result property="type"    column="type"    />
        <result property="userId"    column="user_id"    />
        <result property="isdel"    column="isdel"    />
    </resultMap>

    <sql id="selectIdeaTemplateVo">
        select id, name, prompt, type, user_id, isdel from wc_idea_template
    </sql>

    <select id="getIdeaTemplateList" parameterType="com.cube.wechat.selfapp.app.domain.query.IdeaPromptQuery" resultMap="IdeaTemplateResult">
        <include refid="selectIdeaTemplateVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="prompt != null  and prompt != ''"> and prompt like concat('%', #{prompt}, '%')</if>
            and isdel = 0
        </where>
    </select>

    <select id="getIdeaPromptList" resultMap="IdeaTemplateResult">
        <include refid="selectIdeaTemplateVo"/>
        <where>
            and type = 3
            <if test="ideaPromptQuery.name != null and ideaPromptQuery.name != ''"> and name like concat('%', #{ideaPromptQuery.name}, '%')</if>
            <if test="ideaPromptQuery.prompt != null  and ideaPromptQuery.prompt != ''"> and prompt like concat('%', #{ideaPromptQuery.prompt}, '%')</if>
            and user_id = #{userId}
            and isdel = 0
        </where>
    </select>

    <select id="getAllIdeaPrompt" resultMap="IdeaTemplateResult">
        <include refid="selectIdeaTemplateVo"/>
        <where>
            and type = 3
            and user_id = #{userId}
            and isdel = 0
        </where>
    </select>

    <select id="getIdeaTemplateById" parameterType="Long" resultMap="IdeaTemplateResult">
        <include refid="selectIdeaTemplateVo"/>
        where id = #{id} and isdel = 0
    </select>

    <select id="getIdeaPromptById" parameterType="Long" resultMap="IdeaTemplateResult">
        <include refid="selectIdeaTemplateVo"/>
        where id = #{id} and type = 3 and isdel = 0
    </select>
    <select id="getIdeaWord" resultType="com.cube.wechat.selfapp.app.domain.IdeaTemplate">
        <include refid="selectIdeaTemplateVo"/>
        where type = 4 and isdel = 0
    </select>


    <insert id="saveIdeaTemplate" parameterType="com.cube.wechat.selfapp.app.domain.IdeaTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into wc_idea_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="prompt != null and prompt != ''">prompt,</if>
            <if test="type != null">type,</if>
            <if test="userId != null">user_id,</if>
            <if test="isdel != null">isdel,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="prompt != null and prompt != ''">#{prompt},</if>
            <if test="type != null">#{type},</if>
            <if test="userId != null">#{userId},</if>
            <if test="isdel != null">#{isdel},</if>
        </trim>
    </insert>

    <update id="updateIdeaTemplate" parameterType="com.cube.wechat.selfapp.app.domain.IdeaTemplate">
        update wc_idea_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="prompt != null and prompt != ''">prompt = #{prompt},</if>
            <if test="type != null">type = #{type},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="isdel != null">isdel = #{isdel},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteIdeaTemplateById" parameterType="Long">
        update wc_idea_template set isdel=1 where id = #{id}
    </update>

    <update id="deleteIdeaTemplateByIds" parameterType="String">
        update wc_idea_template set isdel=1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
